node_modules
dist
.env
.env.local
android/.gradle
android/build
android/app/build
android/local.properties
android/.idea
*.apk
*.aab
.android-signing/

rimworld-mod/Source/obj/
rimworld-mod/Source/bin/
